## Data Type Conversions
    -int, float, complex, boolean, string, None


    Integer family

    int - decimal       - int() -base 10 (0-9)
        - binary         - bin() - base 2 (0-1)
        - hexadecimal    - hex() - base 16 (0-9)(A-F)
        - octal
    float
        float()
    string
        str()

In [3]:
num = 12
print("number", num, type(num))

number 12 <class 'int'>

In [4]:
## int -> float
print(12, float(12))

12 12.0

In [7]:
##int -> str
12, str(12)

(12, '12')

In [8]:
##float -> int
print(3.1416, int(3.1416))
print(3.1416, str(3.1416))

3.1416 3
3.1416 3.1416

In [9]:
## str -> Int
print("23", int("23"))
print("23 ", int("23 "))

23 23
23  23

In [2]:
"%#o" % 10, "%" 10  # ('0o12', '12')
format(10, "#o"), format(10, "o")

SyntaxError: invalid syntax (2688653801.py, line 1)

In [ ]:
Absolute value

Complex Numbers